.DS_Store
.vscode/
old/
srcipt.js
media/.DS_Store
media/images/coin.png
media/images/d.jpg
media/images/d.png
media/images/logo.png
media/images/remove_the_4_202603191305.jpg
media/videos/0327.mp4
media/videos/ai hand.mp4
